################
#* Example environment variables for development setup
#  Copy this file to `.env` in the same directory and fill in or replace the values.
#  cp .local.dev.env.example .env
#  DO NOT ADD THE COPIED FILE TO VERSION CONTROL!
################

## Application

BACKEND_URL=http://localhost:8000
IMAGE_HOST=http://localhost:9000/timestamp
APP_VERSION=dev
COOKIE_EXPIRATION_MINUTES=172800

## Docker compose (Development)

DATABASE_URL=postgresql://timestamp:password@localhost:5432/timestamp

S3_ENDPOINT_URL=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_REGION=apac
S3_BUCKET_NAME=timestamp

JWT_SECRET_KEY=aa201ee6ca9ac5877c32e5aba233f1372de6b5a50325dc8994087f6131826902
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=525600  # 1 year

POSTGRES_USER=timestamp
POSTGRES_PASSWORD=password
POSTGRES_DB=timestamp
POSTGRES_PORT=5432

PGADMIN_MAIL=timestamp@local.dev
PGADMIN_PW=admin